<!--   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <section class="card register" >
   <div class="textintro"  >
      <h1 ng-show="!isLoggedIn">Friends Page</h1>
    </div>
    <div class="row">
      

<form class="form-inline">
   <select ng-show="editing" class="form-control" ng-model="editItem.avatar" ng-options="item for item in avatars">
    </select>
  <input type="text" placeholder="First name" ng-model="editItem.first_name" ng-show="editing" class="form-control">
  <input type="text" placeholder="Last name" ng-model="editItem.last_name"  ng-show="editing" class="form-control">

  <button ng-show="!editing" class="btn btn-primary btn-xs" ng-click="create()">Create</button>
  <button ng-show="editing" class="btn btn-primary btn-xs" ng-click="save()">Save</button>
  <button ng-show="editing" class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
  
</form>
     </div>
<table class="table table-hover table-condensed">
  <thead>
    <th width="20%">Avatar</th>
    <th width="40%">First Name</th>
    <th width="40%">Last Name</th>

    <th width="10%"></th>
  </thead>

  <tbody class="pointable">
    <tr ng-repeat="friend in friends"
      ng-mouseenter="hovering = true"
      ng-mouseleave="hovering = false"
     
      >
      <td><div class="img_div"><img ng-src="images/{{friend.avatar}}" alt="Photo of {{friend.avatar}}"></div></td>
      <td>{{friend.first_name}}</td>
      <td>{{friend.last_name}}</td>
      <td><span
        ng-show="hovering"
        class="glyphicon glyphicon-remove"
        ng-mouseenter="delhovering = true"
        ng-mouseleave="delhovering = false"
        ng-class="{'hover-delete':delhovering}"
        ng-click="deleteFriend(friend)"
        ></span>
      </td>
    </tr>
  </tbody>
</table>
</section>